body {
  padding: 0px;
  margin: 0px;
  font-family: "Arial";
  background: #999999;
  font-size: 0.8125em;
  text-align: center;
}

/* ----------------base struct ----------------*/
#container {
  width: 1000px;
  margin: auto;
  padding: 0px;
  text-align: left;
}

#header {
  background: #000000;
  height: 60px;
  margin: 0px;
}

#main {
  background: #ffffff;
  padding: 0px 20px 60px 20px;
  margin: 0px;
}

#main::after{
    content:"";
    display:block;
    clear:both;
}

#footer {
  background: #000000;
  height: 20px;
  margin: 0px;
  padding: 4px 0px 0px 20px;
  color: #CCCCCC;
  font-size: 10px;
}

#nav{
  float: left;
  width: 370px;
  height: 0px;
}

#pagetitle{
  width: 100%;
  padding-top: 70px;
  padding-bottom: 30px;
}

/* -------------- page layouts -----------------------*/
#fingertoy{
  float: right;
  margin-right: 20px;
  margin-top: 12px;
}

#printheader {
  display: none;
}

#logo {
  padding-top: 20px;
  padding-left: 20px;
  height: 40px;
  width: 480px;
  float: left;
}

#logo img {
  border: 0px;
}

#leftsplit-left{
  width: 260px;
  float: left;
  padding: 0px 0px 0px 0px;
  font-size: 11px;
}

#leftsplit-right{
  float: right;
  padding: 0px 0px 0px 30px;
  width: 665px;
  line-height: 18px;
  border-left: 1px solid #000000;
}

#leftsplit-wrap{
  padding: 0px;
  margin: 0px;
  float: left;
  background-image: url();
  background-repeat: repeat-y;
  width: 960px;
}

#equalsplit-left{
  width: 465px;
  float: left;
  padding: 0px 10px 0px 0px;
}

#equalsplit-right{
  float: right;
  padding: 0px 0px 0px 15px;
  width: 465px;
  line-height: 18px;
}

#equalsplit-wrap {
  padding: 0px;
  margin: 0px;
  float: left;
  background-image: url();
  background-repeat: repeat-y;
  width: 960px;
}

hr {
  height: 1px;
  background: #000000;
  color: #000000;
  border: 0;
}

/* ------------- links ---------------*/

#nav a{
  font-size: 14px;
  font-weight: strong;
  color: #fff;
  text-decoration: none;
  padding: 22px 2px;
  margin: 0px;
  line-height: 60px;
  white-space: nowrap;
}

#nav a:hover{
  background-image: url();
  background-color: #232323;
  background-repeat: repeat-x;
  background-position-x: left;
  background-position-y: top;
}

#nav a#active{
  background-image: url();
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position-x: left;
  background-position-y: top;
}

#nav ul {
  margin: 0px;
  padding: 0px;
  line-height: 60px;
  white-space: nowrap;
}

#nav li {
  list-style-type: none;
  display: inline;
}

a.nohover {
  background: none;
  border: none;
  outline: none;
}

a.nohover:hover {
  background: none;
  border: none;
}

a.nohover:focus {
  outline: none;
}

a.nohover img {
  border: none;
  outline: none;
}

a {
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #000000;
}

/* ------------ text -------------*/

h1{
  font-size: 18px;
  font-weight: strong;
  margin: 0px;
  padding: 0px;
}

h2{
  color: #666666;
  font-size: 18px;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}

h3{
  color: #000000;
  font-size: 14px;
  font-weight: strong;
  margin: 0px;
  padding: 0px 0px 5px 0px;
  clear: left;
}

/*------------- lists -------------*/
ul.leftnav{
  margin: 0px;
  padding: 0px;
}

ul.leftnav li {
  list-style: none;
  padding: 0px 0px 5px 0px;
}

/*----------- thumbnails and video --------------*/

#video-wrapper {
  width: 665px;
  float: left;
  padding: 5px 0px 5px 0px;
}

#video-left{
  width: 90px;
  float: left;
  padding: 0px 10px 0px 0px;
}

#video-right{
  float: left;
}

.homethumb {
  float: left;
  margin-right: 12px;
  margin-bottom: 10px;
  color: #666666;
  font-size: 11px;
}

.homethumb img {
  margin-bottom: 3px;
}

.smallthumb{
  float: left;
  margin-right: 14px;
  margin-bottom: 10px;
  width: 90px;
  font-size: 11px;
  color: #AAAAAA;
}

.smallthumb img{
  margin-bottom: 3px;
}

.smallthumb_row{
  float: left;
}

.projectgroup {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 100%;
}

#shaderCanvas{
  width:180px;
  height:180px;

  float:right;

  margin-left:20px;

  border:1px solid #000;
}